{
    "local": {
        "ip": "localhost",
        "user": "tf2server",
        "homedir": "/home/tf2server",
        "app": "tf",
        "appdir": "/home/tf2server/serverfiles",
        "appid": 232250,
        "port": 27015,
        "maxplayers": 12,
        "password": "",
        "map": "pass_brickyard",
        "region": 0
    }
}